
.row .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.row .search{
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #3232ff;
}

.search-query:focus + button {
    z-index: 3;
}
.badge{
    position:absolute;
    left: 10px;
}
#hrCol{
    border-color: transparent;
}
a:link {
    text-decoration: none;
}
.modal .row{
    margin: 0;
}
.btn .badge{
    position: relative;
    left: -5px;
}
.fa-pencil{
    align: right;

}
.fa-trash-o{
    align:right;
}

.dp{
    padding:0;
}

.dp #dp{
    height: 100px;
    margin-top: 20px;
}
.fa-bookmark{
    color: #f4d817;
}
.fa-plus-square-o{
    color: #3232ff;
}
.viewFeeds{
    padding: 30px;
}